@page "/peliculas/crear"
@inject NavigationManager navigationManager



<h3>CrearPelicula</h3>


<FormularioPeliculas pelicula = "pelicula" OnValidSubmit = "Save">

</FormularioPeliculas>

@code {
    private Pelicula pelicula = new Pelicula();

    public void Save()
    {
        Console.WriteLine(navigationManager.BaseUri);
        navigationManager.NavigateTo("pelicula");
    }
}
