@page "/peliculas/buscar"
@inject IRepositorio repositorio


<h3>FiltroPelicula</h3>

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="titulo" class="sr-only">Titulo</label>
        <input @bind-value="titulo" @bind-value:event="oninput"
               @onkeypress="@((KeyboardEventArgs e) => TituloKeyPress(e))"
               type="text" class="form-control" id="titulo" placeholder="Titulo Pelicula" />

    </div>

    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control" @bind="generoSeleccionado">
            <option value="0">Seleccionar Genero</option>
            @foreach (var item in generos)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>

    </div>


    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="estrenos" @bind="futurosEstrenos" />
        <label class="form-check-label" for="estrenos">
            Futuros estrenos
        </label>
    </div>


    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="cartelera" @bind="enCartelera" />
        <label class="form-check-label" for="estrenos">
            En cartelera
        </label>
    </div>


    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="masVotados" @bind="masVotadas" />
        <label class="form-check-label" for="estrenos">
            Lo mas votados
        </label>
    </div>
    <button type="button" class="btn btn-primary mb-2 mx-sm-3" @onclick="LoadNewMovies">Filtro</button>
    <button type="button" class="btn btn-danger mb-2" @onclick="CleanAll">Limpiar</button>
</div>


<ListadoPelicula peliculas="Peliculas">

</ListadoPelicula>

@code {
    private List<Pelicula> Peliculas;
    string titulo = "";
    string generoSeleccionado = "";


    private bool futurosEstrenos = false;

    private bool enCartelera = false;

    private bool masVotadas = false;


    private List<Genero> generos = new List<Genero>();

    protected override void OnInitialized()
    {
        Peliculas = repositorio.GetMovies();
    }

    private void TituloKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            LoadNewMovies();
        }
    }

    private void LoadNewMovies()
    {
        Peliculas = Peliculas.Where(x => x.Titulo.ToLower().Contains(titulo.ToLower())).ToList();
        Console.WriteLine($"Titulo: {titulo}");
        Console.WriteLine($"Estrenos: {futurosEstrenos}");
        Console.WriteLine($"En Cartelera: {enCartelera}");
        Console.WriteLine($"Mas votados: {masVotadas}");
    }

    private void CleanAll()
    {
        Peliculas = repositorio.GetMovies();
        titulo = "";
        generoSeleccionado = "0";
        futurosEstrenos = false;
        enCartelera = false;
        masVotadas = false;

    }
}
