@page "/pelicula/{PeliculaID:int}"
@page "/pelicula/{PeliculaID:int}/{NombrePelicula}"
@inject IRepositorio repositorio


<h3>VisualizarPelicula</h3>

@code {
    [Parameter] public int PeliculaID { get; set; }
    [Parameter] public string NombrePelicula { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repositorio.Get<PeliculaVisualizarDTO>($"api/peliculas/{PeliculaID}");
        Console.WriteLine($"La pelicula extraida es {PeliculaID}");
    }
}