@page "/personas/crear"


<h3>CrearPersonas</h3>

<FormularioPersonas OnValidSubmit="CrearPersona" persona="persona">

</FormularioPersonas>

@code {
    private Personas persona = new Personas();

    public void CrearPersona()
    {
        Console.WriteLine("Se creo una persona");
    }
}
