@inject IJSRuntime js

@*@foreach (var pelicula in peliculas)
    {
    <PeliculaIndividual Pelicula="pelicula" EliminarPelicula="Eliminar" />
    }*@

<div style="display: flex; margin-right: 2%; margin-bottom: 10px; text-align: center;">
    <ListadoGenerico Listado="peliculas">
        <thereAreDate>
            <PeliculaIndividual Pelicula="context" EliminarPelicula="Eliminar" />
        </thereAreDate>
    </ListadoGenerico>
</div>


@code {

    [Parameter] public List<Pelicula> peliculas { get; set; }

    async Task Eliminar(Pelicula pelicula)
    {

        var confimado = await js.Confirm($"Desea borrar la peicula {pelicula.Titulo}");
        if (confimado)
        {
            peliculas.Remove(pelicula);
            Console.WriteLine("Se borro una pelicula");
        }

    }

}