@page "/"
@inject IRepositorio Repo

<div> 
    <h3>En cartelera</h3>

    <ListadoPelicula peliculas="EnCarteleras">

    </ListadoPelicula>
</div>

<div>
    <h3>  Proximos estrenos  </h3>
    <ListadoPelicula peliculas="FuturoEstrenos"/>
</div>



@code {


    private List<Pelicula> FuturoEstrenos;
    private List<Pelicula> EnCarteleras;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await Repo.Get<HomePageDTO>("api/peliculas");
        FuturoEstrenos = httpResponse.Response.ProximosEstrenos;
        EnCarteleras = Repo.GetMovies();

    }


    //public List<Pelicula> GetPelicula()
    //{

    //    //return null;

    //    return new List<Pelicula>
    //    {
    //        new Pelicula(){Titulo = "Hola mundo", Fecha_de_lazanmiento = new DateTime(2019, 7, 2)},
    //        new Pelicula(){Titulo = "Hola mundo", Fecha_de_lazanmiento = new DateTime(2019, 7, 2)},
    //        new Pelicula(){Titulo = "Hol mundo", Fecha_de_lazanmiento = new DateTime(2019, 7, 2)}
    //    };

    //}

}


