@page "/"
@inject IRepositorio Repo

@code {
    //Listado Pelicula de peliculas

    void agregaPelicula()
    {
        Peliculas.Add(new Pelicula() { Titulo = "anidada ahora", Fecha_de_lazanmiento = new DateTime(2017, 4, 2) });
    }

    private List<Pelicula> Peliculas;

    protected override void OnInitialized()
    {
        Peliculas = Repo.GetMovies();

    }


    //public List<Pelicula> GetPelicula()
    //{

    //    //return null;

    //    return new List<Pelicula>
    //    {
    //        new Pelicula(){Titulo = "Hola mundo", Fecha_de_lazanmiento = new DateTime(2019, 7, 2)},
    //        new Pelicula(){Titulo = "Hola mundo", Fecha_de_lazanmiento = new DateTime(2019, 7, 2)},
    //        new Pelicula(){Titulo = "Hol mundo", Fecha_de_lazanmiento = new DateTime(2019, 7, 2)}
    //    };

    //}

}

@* *************  Fin codigo c# *************  *@


<ListadoPelicula peliculas="Peliculas">

    @*<span style="color:red">No hay peliculas</span>*@

</ListadoPelicula>

<button @onclick="agregaPelicula">Agregar nueva pelicula</button>

<TxtBox></TxtBox>