@page "/generos/crear"
@inject IRepositorio repositorio;

<h3>Crear Generos</h3>

<FormularioGenero OnValidSubmit = "Crear" genero = "genero">

</FormularioGenero>


@code {
    private Genero genero = new Genero();

    private async void Crear()
    {

        var httpResponse = await repositorio.Post("api/generos", genero);

        Console.WriteLine("Ejecutnado el metodo");
        Console.WriteLine($"Se han agregado los datos correctamente; se agrego {genero.Name}");
    }

}
