@page "/generos/crear"
@inject IRepositorio repositorio;
@inject NavigationManager navigationManager;

<h3>Crear Generos</h3>

<FormularioGenero OnValidSubmit = "Crear" genero = "genero">

</FormularioGenero>


@code {
    private Genero genero = new Genero();

    private async Task Crear()
    {

        var httpResponse = await repositorio.Post("api/generos", genero);
        if (httpResponse.Error)
        {
            var body = await httpResponse.HttpRequestMessage.Content.ReadAsStringAsync();
            Console.WriteLine(body);
        }
        else
        {
            navigationManager.NavigateTo("/generos");
        }

        Console.WriteLine("Ejecutnado el metodo");
        Console.WriteLine($"Se han agregado los datos correctamente; se agrego {genero.Name}");
    }

}
